@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$trans-hover: all .33s ease;
$transparent: rgba(0,0,0,0);
$menu-background: rgba(10,10,10,0.65);
$f-primary: 'Oswald', sans-serif;
$f-secondary: 'Montserrat', sans-serif;
$f-body: 'Lora', serif;

h1, h2, h3, h4{
	font-family: $f-primary;
	font-weight: bold;
}

body{
	font-family: $f-body;
}

header{
	background: $menu-background;
}

.row{
	max-width: 55em;
}

section{
	padding: 10vh 0;
	&.grey-bg{
		background-color: #232323;
	}
	&.light-grey-bg{
		background: #3f3f3f;
	}
	&.feature{
		background-color: #0f0e0e;
		background-image: url('../images/fire_bg.jpg');
		background-attachment: fixed;
		padding: 20vh 0 15vh;
		text-align: center;
		margin-top: -68px;
		img{
			width: 45%;
		}
	}
}

footer{
	background: #0f0e0e;
	text-align: center;
	font-family: $f-secondary;
	font-weight: 200;
	font-size: .7em;
	padding: 14px 0;
	color: #f7f7f7;
}

#the-meat{
	h4{
		font-family: $f-secondary;
		font-weight: 800;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		margin-top: 4px;
		color: #f7f7f7;
		font-size: 1.45rem;
	}
	p.cooking-style{
		margin-bottom: 0;
		font-weight: bold;
	}
}

#the-times{
	h4{
		font-family: $f-secondary;
		font-weight: 800;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		margin-top: 4px;
		color: #f7f7f7;
		font-size: 1.45rem;
	}
	p.cooking-style{
		margin-bottom: 0;
		font-weight: bold;
	}
}


.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: transparent;
    color: #ffffff
}

.logo img{
	width: 40px;
}
.title-bar-title{
	float: right;
	img{
		width: 28px;
	}
}
.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;
  @include breakpoint(medium down){
	  padding: 0;
  }
  
  .top-bar-right{
	  margin-top: 12px;
	  @include breakpoint(medium down){
		  margin-top: 0;
	  }
  }
  ul {
    background: $transparent;
	@include breakpoint(medium down){
		
	}
    li {
      background: $transparent;
      transition: $trans-hover;
	  @include breakpoint(medium down) {
		background: rgba(15, 14, 14, 1);
		display: list-item;
		text-align: center;
		padding: .5em 0;
		border-bottom: 4px solid rgba(255, 255, 255, .1);
		}
        a {
          color: #fff;
          font-weight: bold;
          transition: all .33s ease;
          &:hover{
	          opacity: .85;
          }
      }
      &:hover{
	      @include breakpoint(medium down){
		          background: rgba(40, 38, 38, 0.91);
	          }
      }
    }
  }
}

.menu-text {
  color: #fff;
  
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}
