@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$trans-hover: all .33s ease;
$transparent: rgba(0,0,0,0);
$menu-background: rgba(10,10,10,0.65);
$f-primary: 'Oswald', sans-serif;
$f-secondary: 'Montserrat', sans-serif;
$f-body: 'Lora', serif;

h1, h2, h3, h4{
	font-family: $f-primary;
	font-weight: bold;
}

body{
	font-family: $f-body;
	background: #111;
}

header{
	background: $menu-background;
	&.sticky-container{
		z-index: 1000;
	}
}

.row{
	max-width: 55em;
}

section{
	padding: 10vh 0;
	&.grey-bg{
		background-color: #232323;
	}
	&.light-grey-bg{
		background: #3f3f3f;
	}
	&.feature{
		position: relative;
		background-color: #0f0e0e;
		background-image: url('../images/fire_bg.jpg');
		background-attachment: fixed;
		padding: 25vh 0 25vh;
		text-align: center;
		margin-top: -68px;
		@include breakpoint(small down){
			background-attachment: scroll;
			background-position: center center;
			padding: 30vh 0 15vh;
		}
		img{
			width: 45%;
		}
	}
}

.social{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	
	padding: 10px 0 0;
	border-top: 3px solid rgba(255, 255, 255, 0.1);
	color: white;
	font-family: $f-primary;
	font-weight: 600;
	text-transform: uppercase;
	a{
		color: white;
		margin: 0 0.2em;
		font-size: 160%;
		transition: $trans-hover;
		&:hover{
			opacity: .7;
		}
	}
}

footer{
	background: #0f0e0e;
	text-align: center;
	font-family: $f-secondary;
	font-weight: 200;
	font-size: .7em;
	padding: 14px 0;
	color: #f7f7f7;
}

#the-meat, #the-sauce{
	.meat-card{
		padding: 6px 8px;
		background: rgba(255,255,255,0.05);
		margin-top: 8px;
		border-radius: 2px;
		transition: $trans-hover;
		&.sauce{
			background: transparent;
			background-size: cover;
			background-position: center center;
			height: 130px;
			&.ket{
				background-image: url('../images/ketchup.png');
			}
			&.pepp{
				background-image: url('../images/pepper.png');
			}
			&.pap{
				background-image: url('../images/paprika.png');
			}
			&.hon{
				background-image: url('../images/honey.png');
			}
			&.smoke{
				background-image: url('../images/smoke.png');
			}
			&.mus{
				background-image: url('../images/mustard.png');
			}
			
		}
		&:hover{
			box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
		}
		p{margin: 0;}
		
	}
	h4{
		font-family: $f-secondary;
		font-weight: 800;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		margin-top: 4px;
		color: #f7f7f7;
		font-size: 1.45rem;
	}
	p{
		font-size: 1.2rem;	
		&.cooking-style{
			margin-bottom: 0;
			font-weight: bold;
		}
	}
}

#the-times{
	h4{
		font-family: $f-secondary;
		font-weight: 800;
		margin-top: 4px;
		color: #f7f7f7;
		font-size: 1.45rem;
	}
	a{
		font-family: $f-secondary;
		font-weight: 800;
		color: #f7f7f7;
		padding: 10px;
		cursor: pointer;
		display: block;
		height: 120px;
		border-radius: 2px;
		&.brisket{
			background-image: url('../images/brisket.jpg');
			background-size: cover;
			background-position: center center;
		}
		&.ribs{
			background-image: url('../images/ribs.jpg');
			background-size: cover;
			background-position: center center;
		}
		&.chicken{
			background-image: url('../images/chicken.jpg');
			background-size: cover;
			background-position: center center;
		}
	}
	p.cooking-style{
		margin-bottom: 0;
		font-weight: bold;
	}
}


.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: transparent;
    color: #ffffff
}

#the-sauce .callout{
			border-top: none;
		    border-bottom: none;
		    border-left: none;
		    border-right: none;
		}

.logo img{
	width: 40px;
}
.title-bar-title{
	float: right;
	img{
		width: 28px;
	}
}
.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;
  @include breakpoint(small down){
	  padding: 0;
  }
  
  .top-bar-right{
	  margin-top: 12px;
	  @include breakpoint(small down){
		  margin-top: 0;
	  }
  }
  ul {
    background: $transparent;
	@include breakpoint(small down){
		
	}
    li {
      background: $transparent;
      transition: $trans-hover;
	  @include breakpoint(small down) {
		background: rgba(15, 14, 14, 1);
		display: list-item;
		text-align: center;
		padding: .5em 0;
		border-bottom: 4px solid rgba(255, 255, 255, .1);
		}
        a {
          color: #fff;
          font-weight: bold;
          transition: all .33s ease;
          &:hover{
	          opacity: .85;
          }
      }
      &:hover{
	      @include breakpoint(small down){
		          background: rgba(40, 38, 38, 0.91);
	          }
      }
    }
  }
}

.menu-text {
  color: #fff;
  
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}

.submenu li{
	//margin-top: 20px;
	a{
		background: $menu-background;
	}
}

.dropdown.menu .submenu {
  border: none;
}
.dropdown.menu>li.is-dropdown-submenu-parent>a::after{
	border-color: #f7f7f7 transparent transparent;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}
